@charset "UTF-8";
/* footer */
footer {
  margin: 0;
  padding: 0;
  background-color: black;
}

.ftr-conteneur {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding-top: 30px;
  padding-bottom: 50px;
}
.ftr-conteneur__logo {
  object-fit: fill;
  width: 100px;
  margin-bottom: 30px;
}
.ftr-conteneur__logo img {
  width: 100%;
}
.ftr-conteneur__items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.ftr-conteneur__items > p {
  margin-bottom: 10px;
  margin-top: 0;
}
.ftr-conteneur__items--icon {
  color: white;
  width: 25px;
  font-size: small;
}

/* header */
.en-tete {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 1px 5px grey;
  z-index: 10;
}
.en-tete__img {
  width: 180px;
  height: 40px;
  margin-top: 22px;
  margin-right: auto;
  margin-left: auto;
}
.en-tete__img img {
  width: 100%;
}
.en-tete__back {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  margin-left: 25px;
}

.btn__violet {
  background: linear-gradient(170deg, #FF79DA, #9356DC 90%);
  color: white;
  font-weight: 600;
  padding: 20px;
  border-radius: 50px;
  width: 180px;
  text-align: center;
}

.btn__violet:hover {
  opacity: 0.8;
}

.btn {
  background-color: white;
  border-radius: 25px;
  box-shadow: 1px 5px 5px lightgray;
  width: 92%;
  margin-bottom: 20px;
}

.btn:hover {
  box-shadow: 1px 5px 5px rgb(196, 196, 196);
}

/* body */
body {
  background: url(../../assets/fon.jpg);
}

.bloc-page {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: auto;
  max-width: 900px;
}

a {
  text-decoration: none;
  color: black;
}

img {
  object-fit: cover;
}

hr {
  border: solid 2px #99E2D0;
  width: 45px;
  margin: 5px 0 10px 0;
}

/* image en-tête */
.conteneur-img {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.conteneur-img > img {
  width: 100%;
  height: 100%;
}

/* bloc des menus */
.bloc-menu {
  padding-top: 35px;
  position: relative;
  bottom: 35px;
  padding-bottom: 35px;
  z-index: 2;
  background-color: #f7f7f7;
  border-radius: 40px 40px 0 0;
  margin-bottom: -35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bloc-menu > h3 {
  margin-bottom: 5px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  align-self: flex-start;
  font-weight: normal;
}
.bloc-menu__titre {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.bloc-menu__titre > h2 {
  font-family: "Shrikhand";
  font-weight: 500;
  font-size: xx-large;
}
.bloc-menu__titre > i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}
.bloc-menu__bouton {
  display: flex;
  justify-content: space-between;
}
.bloc-menu__bouton--animation {
  margin-right: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: transform 1s;
}
.bloc-menu__bouton:hover > .bloc-menu__bouton--animation {
  transform: scale(1.15);
}
.bloc-menu__bouton--prix {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-right: 30px;
}
.bloc-menu__bouton--infos {
  white-space: nowrap;
  overflow: hidden;
  margin-left: 15px;
}
.bloc-menu__bouton--infos > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  margin-top: 10px;
}
.bloc-menu__bouton--infos > h3 {
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*# sourceMappingURL=menu.css.map */
