@media screen and (max-width: 899px) {
  .bloc-restau .bloc-restau--new {
    background-color: red;
    border: #99E2D0 2px solid;
    border-radius: 2px;
    font-weight: bold;
    font-size: small;
    color: #398064;
    position: relative;
    left: 220px;
    bottom: 180px;
    width: 80px;
    height: 20px;
    text-align: center;
  }
}
/* footer */
footer {
  margin: 0;
  padding: 0;
  background-color: black;
}

.ftr-conteneur {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding-top: 30px;
  padding-bottom: 50px;
}
.ftr-conteneur__logo {
  object-fit: fill;
  width: 100px;
  margin-bottom: 30px;
}
.ftr-conteneur__logo img {
  width: 100%;
}
.ftr-conteneur__items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.ftr-conteneur__items > p {
  margin-bottom: 10px;
  margin-top: 0;
}
.ftr-conteneur__items--icon {
  color: white;
  width: 25px;
  font-size: small;
}

/* header */
.en-tete {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 5px grey;
  z-index: 10;
}
.en-tete__img {
  width: 180px;
  height: 40px;
  margin-top: 22px;
  align-self: center;
}
.en-tete__img img {
  width: 100%;
}
.en-tete__back {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 150px;
  font-size: xx-large;
}

.btn__violet {
  background: linear-gradient(170deg, #FF79DA, #9356DC 90%);
  color: white;
  font-weight: 600;
  padding: 20px;
  border-radius: 50px;
  width: 180px;
  text-align: center;
}

.btn__violet:hover {
  opacity: 0.8;
}

/* body */
body {
  background: linear-gradient(rgba(147, 86, 220, 0.8), rgba(255, 121, 218, 0.4) 80%);
}

.bloc-page {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: auto;
  max-width: 900px;
}

a {
  text-decoration: none;
  color: black;
}

img {
  object-fit: cover;
}

/* barre de recherche */
.search-bar {
  background-color: rgb(234, 234, 234);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -2px 2px grey;
}
.search-bar__input {
  border: none;
  background-color: rgb(234, 234, 234);
  height: 50px;
}
.search-bar__input::placeholder {
  text-align: center;
  font-weight: 600;
  font-size: large;
  color: rgb(43, 43, 43);
}
.search-bar__logo {
  margin-right: 1px;
}

/* section presentation */
.presentation {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.presentation__titre {
  margin: 0;
  padding-top: 35px;
  text-align: center;
  font-size: x-large;
  font-weight: 900;
  width: 80%;
}
.presentation__p {
  margin: 0;
  padding-top: 15px;
  text-align: center;
  font-size: large;
  font-weight: 500;
  width: 90%;
  color: rgb(63, 63, 63);
  padding-bottom: 35px;
}

/* section fonctionnement */
.bloc-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.bloc-btn__nb {
  background-color: #9356DC;
  color: white;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: small;
  position: relative;
  right: 8px;
}
.bloc-btn__btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  width: 80%;
  background-color: whitesmoke;
  margin-bottom: 30px;
  box-shadow: 1px 5px 5px rgb(228, 228, 228);
}
.bloc-btn__btn > p {
  margin: auto;
  width: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
.bloc-btn__btn > .icon {
  margin-left: 10px;
  position: relative;
  left: 20px;
  font-size: larger;
  color: gray;
}
.bloc-btn__btn:hover {
  opacity: 0.8;
  background-color: #ffe9fa;
  box-shadow: 1px 5px 5px rgb(192, 192, 192);
}
.bloc-btn__btn:hover .icon {
  color: #9356DC;
}

/* section resstaurant */
.bloc-restau {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}
.bloc-restau__tuile {
  height: 220px;
  width: 90%;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 25px;
  box-shadow: 1px 2px 5px lightgray;
}
.bloc-restau__tuile--img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  height: 160px;
  overflow: hidden;
}
.bloc-restau__tuile--contenu {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}
.bloc-restau__tuile--contenu .info > p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}
.bloc-restau__tuile--contenu .info > h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.bloc-restau__tuile--contenu > i {
  align-self: flex-end;
  margin-right: 35px;
  font-size: x-large;
}
.bloc-restau__tuile--new {
  background-color: #99E2D0;
  border: #99E2D0 2px solid;
  border-radius: 2px;
  font-weight: bold;
  font-size: small;
  color: #398064;
  position: relative;
  left: 220px;
  bottom: 180px;
  width: 80px;
  height: 20px;
  text-align: center;
}
.bloc-restau__tuile:hover {
  box-shadow: 1px 5px 5px rgb(192, 192, 192);
}

/*# sourceMappingURL=page-accueil.css.map */
