@media screen and (min-width: 900px) {
  .bloc-btn__btn {
    width: 50%;
  }
}
/* footer */
footer {
  margin: 0;
  padding: 0;
  background-color: black;
}

.ftr-conteneur {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding-top: 30px;
  padding-bottom: 50px;
}
.ftr-conteneur__logo {
  object-fit: fill;
  width: 100px;
  margin-bottom: 30px;
}
.ftr-conteneur__logo img {
  width: 100%;
}
.ftr-conteneur__items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.ftr-conteneur__items > p {
  margin-bottom: 10px;
  margin-top: 0;
}
.ftr-conteneur__items--icon {
  color: white;
  width: 25px;
  font-size: small;
}

/* header */
.en-tete {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 5px grey;
  z-index: 10;
}

.en-tete__img {
  width: 180px;
  height: 40px;
  margin-top: 22px;
}
.en-tete__img img {
  width: 100%;
}

.btn__violet {
  background: linear-gradient(170deg, #FF79DA, #9356DC 90%);
  color: white;
  font-weight: 600;
  padding: 20px;
  border-radius: 50px;
}

/* body */
body {
  box-sizing: content-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: auto;
  max-width: 990px;
  background-color: #9356DC;
}

a {
  text-decoration: none;
  color: black;
}

img {
  object-fit: cover;
}

/* barre de recherche */
.search-bar {
  background-color: rgb(224, 224, 224);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -2px 2px grey;
}
.search-bar__input {
  border: none;
  background-color: rgb(224, 224, 224);
  height: 50px;
}
.search-bar__input::placeholder {
  text-align: center;
  font-weight: 600;
  font-size: large;
  color: rgb(43, 43, 43);
}
.search-bar__logo {
  margin-right: 1px;
}

/* section presentation */
.presentation {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.presentation__titre {
  margin: 0;
  padding-top: 35px;
  text-align: center;
  font-size: x-large;
  font-weight: 900;
  width: 80%;
}
.presentation__p {
  margin: 0;
  padding-top: 15px;
  text-align: center;
  font-size: large;
  font-weight: 500;
  width: 90%;
  color: rgb(63, 63, 63);
  padding-bottom: 35px;
}

/* section fonctionnement */
.bloc-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bloc-btn__nb {
  background-color: #9356DC;
  color: white;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: small;
  position: relative;
  right: 8px;
}
.bloc-btn__btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  width: 80%;
  background-color: whitesmoke;
  margin-bottom: 30px;
  box-shadow: 1px 2px 5px lightgray;
}
.bloc-btn__btn > p {
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.bloc-btn__btn > .icon {
  margin-left: 10px;
  font-size: larger;
  color: gray;
}

/* section resstaurant */
.bloc-restau {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}
.bloc-restau__tuile {
  height: 220px;
  width: 80%;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 25px;
  box-shadow: 1px 2px 5px lightgray;
}
.bloc-restau__tuile--img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  height: 160px;
  overflow: hidden;
}
.bloc-restau__tuile--contenu {
  margin-left: 10px;
  margin-top: 5px;
}
.bloc-restau__tuile--contenu > .info {
  margin: 0;
}
.bloc-restau__tuile--contenu > p {
  font-weight: 400;
}
.bloc-restau__tuile--new {
  border: #99E2D0 2px solid;
  border-radius: 2px;
  font-weight: bold;
  background-color: #99E2D0;
  color: #398064;
  position: sticky;
  left: 210px;
  bottom: 205px;
  font-size: small;
}

/*# sourceMappingURL=page-accueil.css.map */
