@import 'footer.scss';
@import 'accueil-header.scss';
/* body */
body {
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: auto;
}
/* barre de recherche */
.search-bar {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    .search-bar__input {
        border: none;
        background-color: lightgrey;
    }
    .search_bar__logo {
        margin-right: 1px;
    }
}
