.btn {
    background-color: white;
    border-radius: 25px;
    box-shadow: 1px 5px 5px lightgray;
    width: 92%;
    margin-bottom: 20px;
}

.btn:hover {
    box-shadow: 1px 5px 5px rgb(196, 196, 196);
}