/* footer */
footer {
    margin: 0;
    padding: 0;
    background-color: black;
}
.ftr-conteneur {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding-top: 30px;
    padding-bottom: 50px;

    &__logo {
        object-fit: fill;
        width: 100px;
        margin-bottom: 30px;
        img {
            width: 100%;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        >p {
            margin-bottom: 10px;
            margin-top: 0;
        }

        &--icon {
            color: white;
            width: 25px;
            font-size: small;
        }
    }
}


