@import 'footer.scss';
@import 'accueil-header.scss';
@import 'btn-violet.scss';

.conteneur-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    overflow: hidden;

    >img {
        width: 100%;
        height: 100%;
    }
}