.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: grey;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  animation: cssAnimation 0s 2s forwards;
}
@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

.conteneur {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.conteneur__icon {  
  position: relative;
  font-size: 80px;
  background-image: linear-gradient(0deg, rgba(255,121,218,1) 25%, rgba(147,86,220,1));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  
  animation: waiting-anim 1.2s infinite;
}
@keyframes waiting-anim {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(360deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(720deg);
  }
}
  